/* line 2, ../sass/progress_bar.scss */
* {
  margin: 0;
}

/* line 5, ../sass/progress_bar.scss */
body {
  background: #000;
}

/* line 10, ../sass/progress_bar.scss */
.bar {
  margin: 4% auto;
  height: 20px;
  width: 40%;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
}
/* line 18, ../sass/progress_bar.scss */
.bar span {
  display: block;
  height: 100%;
  width: 50%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #2bc253;
  background-image: -webkit-linear-gradient(top, #2bc253 37%, #54f054 69%);
  position: relative;
  overflow: hidden;
}
/* line 32, ../sass/progress_bar.scss */
.bar span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  overflow: hidden;
  -webkit-background-size: 50px;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
}

@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
/* line 67, ../sass/progress_bar.scss */
.bar-cil {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 10px solid rgba(0, 183, 229, 0.9);
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -moz-box-shadow: 0 0 50px #2187e7;
  -webkit-box-shadow: 0 0 50px #2187e7;
  box-shadow: 0 0 50px #2187e7;
  padding: 10px;
  -moz-animation: run1 0.85s linear infinite;
  -webkit-animation: run1 0.85s linear infinite;
  animation: run1 0.85s linear infinite;
}
/* line 79, ../sass/progress_bar.scss */
.bar-cil .bars-cil {
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 183, 229, 0.9);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  -moz-box-shadow: 0 0 50px #2187e7;
  -webkit-box-shadow: 0 0 50px #2187e7;
  box-shadow: 0 0 50px #2187e7;
  -moz-animation: run2 0.75s linear infinite;
  -webkit-animation: run2 0.75s linear infinite;
  animation: run2 0.75s linear infinite;
}

@-moz-keyframes run1 {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes run1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes run1 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes run2 {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}
@-webkit-keyframes run2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}
@keyframes run2 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}
/* line 111, ../sass/progress_bar.scss */
.bar-circle {
  width: 100px;
  height: 100px;
  margin: 40px auto;
  padding: 10px;
  border: 10px solid rgba(0, 183, 229, 0.9);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  -moz-box-shadow: 0 0 50px #2187e7;
  -webkit-box-shadow: 0 0 50px #2187e7;
  box-shadow: 0 0 50px #2187e7;
  -moz-animation: bar-cir 0.75s linear infinite;
  -webkit-animation: bar-cir 0.75s linear infinite;
  animation: bar-cir 0.75s linear infinite;
}

/* line 127, ../sass/progress_bar.scss */
.bars-circle {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: -160px;
  border: 10px solid rgba(0, 183, 229, 0.9);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  -moz-box-shadow: 0 0 50px #2187e7;
  -webkit-box-shadow: 0 0 50px #2187e7;
  box-shadow: 0 0 50px #2187e7;
  -moz-animation: bars-cir 0.75s linear infinite;
  -webkit-animation: bars-cir 0.75s linear infinite;
  animation: bars-cir 0.75s linear infinite;
}

@-moz-keyframes bar-cir {
  0% {
    -moz-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
  }
  50% {
    -moz-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-300deg);
    transform: rotate(-300deg);
    opacity: 0;
  }
}
@-webkit-keyframes bar-cir {
  0% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
    opacity: 0;
  }
}
@keyframes bar-cir {
  0% {
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
  }
  50% {
    -moz-transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-300deg);
    -ms-transform: rotate(-300deg);
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
    opacity: 0;
  }
}
@-moz-keyframes bars-cir {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bars-cir {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes bars-cir {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 164, ../sass/progress_bar.scss */
.login-l {
  height: 5px;
  width: 100%;
  margin: 40px 0;
  -moz-box-shadow: 1px 1px 5px 2px #333 inset;
  -webkit-box-shadow: 1px 1px 5px 2px #333 inset;
  box-shadow: 1px 1px 5px 2px #333 inset;
}
/* line 169, ../sass/progress_bar.scss */
.login-l p {
  height: 5px;
  background-color: #2187e7;
  -moz-box-shadow: 0px 0px 7px 2px rgba(0, 198, 255, 0.7);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 198, 255, 0.7);
  box-shadow: 0px 0px 7px 2px rgba(0, 198, 255, 0.7);
  -moz-animation: go 1s linear;
  -webkit-animation: go 1s linear;
  animation: go 1s linear;
}

@-moz-keyframes go {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes go {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes go {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* line 187, ../sass/progress_bar.scss */
.wei {
  width: 250px;
  height: 200px;
  margin: 50px auto;
}
/* line 191, ../sass/progress_bar.scss */
.wei .wei-in {
  height: 60px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-topleft: 50px;
  -webkit-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -webkit-border-top-right-radius: 50px;
  border-top-right-radius: 50px;
  -moz-animation: wei 0.8s linear infinite;
  -webkit-animation: wei 0.8s linear infinite;
  animation: wei 0.8s linear infinite;
}
/* line 202, ../sass/progress_bar.scss */
.wei #wei-in1 {
  position: relative;
  left: 110px;
  top: 20px;
  -moz-animation-delay: 0.36s;
  -webkit-animation-delay: 0.36s;
  animation-delay: 0.36s;
}
/* line 208, ../sass/progress_bar.scss */
.wei #wei-in2 {
  position: relative;
  left: 120px;
  top: 36px;
  -moz-animation-delay: 0.48s;
  -webkit-animation-delay: 0.48s;
  animation-delay: 0.48s;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 216, ../sass/progress_bar.scss */
.wei #wei-in3 {
  position: relative;
  left: 108px;
  top: 74px;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 223, ../sass/progress_bar.scss */
.wei #wei-in4 {
  position: relative;
  left: 64px;
  top: 112px;
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  animation-delay: 0.72s;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 230, ../sass/progress_bar.scss */
.wei #wei-in5 {
  position: relative;
  left: -2px;
  top: 127px;
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  animation-delay: 0.84s;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 237, ../sass/progress_bar.scss */
.wei #wei-in6 {
  position: relative;
  left: -68px;
  top: 111px;
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  animation-delay: 0.96s;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
/* line 244, ../sass/progress_bar.scss */
.wei #wei-in7 {
  position: relative;
  left: -111px;
  top: 73px;
  -moz-animation-delay: 1.08s;
  -webkit-animation-delay: 1.08s;
  animation-delay: 1.08s;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* line 251, ../sass/progress_bar.scss */
.wei #wei-in8 {
  position: relative;
  left: -124px;
  top: 35px;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

@-moz-keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
@keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
